body 
	{ 
	font-family: Arial, Helvetica, sans-serif; 
	margin-left: 20px; 
	margin-right: 20px;
	color: #454545;
	}
		
footer {
	clear: both;
	height: 90px;
	margin-top: 60px;
}

footer div {
	font-size: 0.7em;
	text-align: right;
	border-top: 1px solid #c0c0c0;
	margin: 10px 0px;
	padding: 10px 0px;
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait)
{/* This block provides CSS that only applies to the iPad in portrait orientation */

	body
	{font-size: 130%;}

}

@media only screen and (max-device-width: 1024px) and (orientation: landscape)
{/* This CSS kicks in only when an iPad is in landscape mode. It makes the font bigger, the table rows taller, etc */

	body
	{font-size: 100%;}

}

h3,h4 {
	color: #AC0521;
}
	
h4 {
	margin-top: 40px; 
	
}
	
a {
	color:#31BEF2;
	text-decoration:none;
}

a:hover {
	color:#2798C1;
}

